*.log
*.net
*.raw
*.swp
*.tiff
*.html
*.hdf5
*.pyc
*.qrc
*.pdf
*.tar.gz
*.tgz
*.geo
*.png
*.mm
*.mtx
*.sublime-project
*.sublime-workspace
*.txt
*.asc
*.cki
*.xcf
*.png
*.pxm
*.xsd
*.pam
*.ppm
*.xbm
*.xpm
x
restats
